#container
{
width:1000px;
}

#header
{
backgroud-color:#F75D59;
margin-bottom:0;
}

#menu
{
background-color:#F75D59;
height:500px;
width:300px;
Float:left;
}

#content
{
background-clor:#EEEEEE;
height:200px;
width:400px;
float:left;
}

#right side menu
{
background-color:#F75D59;
height:500px;
width:300px;
Float:right;
}

#footer
{
background-color:#59F2F7;
clear:both;
text-align:center:
}
